#sidebarMenu {
  height: 98vh;
}


/* Minimalist Cards */
.card {
  margin: 20px;
  padding: 20px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
}

/* CARD BACKGROUNDS */

.card-1 {
  background-color: #f8674f;
  background-image: linear-gradient(19deg, #f8674f 0%, #feaca6 84%);
}

.card-2 {
  background: hsla(284, 80%, 10%, 1);

  background: linear-gradient(90deg, hsla(284, 80%, 10%, 1) 0%, hsla(290, 25%, 76%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(284, 80%, 10%, 1) 0%, hsla(290, 25%, 76%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(284, 80%, 10%, 1) 0%, hsla(290, 25%, 76%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#22052D", endColorstr="#CCB3D1", GradientType=1);
}

.card-3 {
  background: hsla(138, 82%, 69%, 1);

  background: linear-gradient(90deg, hsla(138, 82%, 69%, 1) 0%, hsla(186, 100%, 50%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(138, 82%, 69%, 1) 0%, hsla(186, 100%, 50%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(138, 82%, 69%, 1) 0%, hsla(186, 100%, 50%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#6EF195", endColorstr="#00E3FD", GradientType=1);
}

.card-4 {
  background: hsla(132, 79%, 68%, 1);

  background: linear-gradient(90deg, hsla(132, 79%, 68%, 1) 0%, hsla(101, 62%, 48%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(132, 79%, 68%, 1) 0%, hsla(101, 62%, 48%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(132, 79%, 68%, 1) 0%, hsla(101, 62%, 48%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#6EEE87", endColorstr="#5FC52E", GradientType=1);
}

/* Minimalist Cards */



/* Form Css */
.form-title {
  color: #f8674f;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0px 30px 0px;
}

.form-title-sc {
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0px 30px 0px;
}

.form {
  position: relative;
  width: 100%;
  padding: 15px 30px;
  background: white;
  box-shadow: 0px 0px 3px black;
  border-radius: 4px;
}

.form-controll {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-controll:not(:last-of-type) {
  margin-bottom: 33px;
}

.form-input {
  position: relative;
  width:100%;
}

.form-input input{
  position: relative;
  width:100%;
  padding: 8px 0px;
  outline: 1px solid transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  background: transparent !important;
  z-index: 9;
  color: #2c3638;
}

.form-controll label  {
  position: absolute;
  left: 0px;
  bottom: 10px;
  color: black;
  font-size: 14px;
  z-index: 1;
  transition: all 0.1s ease-in;
}

.form-controll label:focus{
  color: #f8674f;
}

input:focus + label,
input:valid + label{
  bottom: 100%;
  z-index: 9;
  transition: all 0.1s ease-in-out;
}


.form-submit {
  position: relative;
  width:100%;
  margin: 14px 0px;
}

.form-submit .form-btn {
  width:100%;
  padding: 8px;
  background: #f8674f;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  text-transform: uppercase;
  transition: all 0.2s ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.5px;
  color: #FFF;
  cursor: pointer;
}

.form-submit .form-btn:hover {
  background: black;
  transition: all 0.2s ease-out;
}


/*Steps*/

.step-tab-items {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: center;
}

.step-tab-items .step-item {
  position: relative;
  list-style: none;
  width: 25px;
  height: 25px;
  background: #e2e2e2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 14px;
  cursor: pointer;
}

/* Form Css */