.hero-image {
    background-image: url('../assets/hero-iamge.jpg');
    height: 850px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}

/* Adding Image to My Text */
h1 {
    text-transform: uppercase;
    font-family: "Arial Black";
    font-size: 164px;
    background: url("../assets/hero-heading-image.jpg") top;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
    background-size: cover;
}

/* Adding Image to My Text */

/* Image-Heading */
.image-heading {
    text-transform: uppercase;
    font-family: "Arial Black";
    font-size: 80px;
    background: url("../assets/image-heading.jpg") top;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
    background-size: cover;
}

/* Image-Heading */

/* image-cards css */
.wrapper,
.single-card-1 {
    height: 350px;
    max-width: 300px;
    margin: relative;
}

.wrapper,
.single-card-2 {
    height: 350px;
    max-width: 300px;
    margin: relative;
}

.wrapper,
.single-card-3 {
    height: 350px;
    max-width: 300px;
    margin: relative;
}


.wrapper {
    perspective: 900px;
}

.single-card-1 {
    text-align: center;
    transition: all 1.5s cubic-bezier(0.7, -.5, 0.3, 1.8);
    transform-style: preserve-3d;
    background-image: url('../assets/hunza.jpg');
    cursor: pointer;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.single-card-2 {
    text-align: center;
    transition: all 1.5s cubic-bezier(0.7, -.5, 0.3, 1.8);
    transform-style: preserve-3d;
    background-image: url('../assets/naltar.jpg');
    cursor: pointer;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.single-card-3 {
    text-align: center;
    transition: all 1.5s cubic-bezier(0.7, -.5, 0.3, 1.8);
    transform-style: preserve-3d;
    background-image: url('../assets/dessai.jpg');
    cursor: pointer;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper:hover .single-card-1 {
    transform: rotateY(180deg);
}

.wrapper:hover .single-card-2 {
    transform: rotateY(180deg);
}

.wrapper:hover .single-card-3 {
    transform: rotateY(180deg);
}

.front,
.back {
    width: 300px;
    position: relative;
    top: 0;
    left: 0;
    backface-visibility: hidden;

}



.back {
    transform: rotateY(180deg);
    position: absolute;
    border-radius: 50px;
    height: 450px;
    background: #ffffff;
}

.content {
    padding-top: 25%;
}

.content h2 {
    font-size: 35px;
    margin: 0;
    font-weight: 300;
}

.content h4 {
    margin: 0;
}

.socials {
    margin-top: 20%;
}

.socials i {
    font-size: 30px;
    margin: 0 10px;
}

/* image-cards css */


/* PageInfo Css */
.pageInfo {
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 950px;
}

/* PageInfo Css */

/* info-page image */
.col-image{
    background-image: url('../assets/info.png');
    height: 700px;
    background-size: cover;
    background-position: center center;
}

.col-info{
    height: 700px;
}
/* info-page image */

/* Testimonials */
.testimonials-section {
    background: #fff;
    height: 600px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .slider__nav {
    width: 12px;
    height: 12px;
    margin: 80px 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
    animation: check 0.4s linear forwards;
  }
  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
  }
  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
  }
  .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
  }
  .slider__nav:checked:nth-of-type(5) ~ .slider__inner {
    left: -400%;
  }
  .slider__inner {
    position: absolute;
    top: 80px;
    left: 0;
    width: 500%;
    height: auto;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
  .slider__contents {
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .slider__caption {
    font-size: 14px;
    color: #111;
    opacity: .5;
    font-family: 'Roboto';
    font-weight: bold;
  }
  .slider__txt {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto';
    line-height: 1.7;
    color: #111;
    margin-top: -20px;
    margin-bottom: 20px;
    max-width: 750px;
  }
  quote {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 100px;
    color: #ec2027;
    margin-bottom: 0;
  }
  
  @-webkit-keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
  
  @keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
  
  .testimonials{
    height: 850px ;
  }
/* testimonials */

/* Footer */
.footer {
    position: relative;
    background: #05b3a4;
    min-height: 600px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:35%;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  .menu__link:hover{
      color: white;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.imgur.com/ZAts69f.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  /* Footer */